body {
    padding-top: 5em !important;
}

.row {
    padding: 10px;  
}


.product-image {
    width: 75%;
}

.quantity-input {
    width: 30%;
    margin: 1em;
    text-align:center;
}

.wrap {
    margin: auto;
    word-wrap: break-word;
}

.cart-quantity-input {
    width: 60%;
    margin: auto;
    text-align:center;
}

.cart-button {
    width: 100%;
}

.product-row {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 1rem;
}